<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>벌초박사</title>
  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- nav css -->
  <link rel="stylesheet" type="text/css" href="/css/form/form_nav.css">
  <!-- 제이쿼리 -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- 부트스트랩 js -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header::form-header}"></div>

<div layout:fragment="content">
  컨텐츠 영역

</div>

<div th:replace="~{fragments/footer::form-footer}"></div>

</body>
</html>