HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### NPM ###
src/main/resources/static/node_modules
src/main/resources/static/node

### local ###
src/main/resources/application-local.properties

### offer 개발중 ###
src/main/java/com/gopang/controller/OfferController.java
src/main/java/com/gopang/dto/OfferForm.java
src/main/java/com/gopang/entity/Offer.java
src/main/java/com/gopang/repository/OfferRepository.java
src/main/java/com/gopang/service/OfferService.java
src/main/resources/templates/offer