<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_community}">

<head>
  <link rel="stylesheet" type="text/css" href="/css/community/community_qna.css">
</head>
<div layout:fragment="content">
  <div class="container">
    <h6 style="text-align: right">고객지원 > <strong>Q&A</strong></h6>
  </div>
  <div class="container" style="min-height: 600px">
    <div class="row">
      <form th:action="@{'/qnas/' + ${qnas.number}}" role="form" method="get" th:object="${qnas}">
        <div class="title-container">
          <h1 class="text-center">Q&A</h1>
        </div>
        <table class="table table-hover table_custom">
          <thead class="table-dark">
          <tr>
            <td class="text-center">번호</td>
            <td class="text-center">제목</td>
            <td class="text-center">작성자</td>
            <td class="text-center">작성일</td>
            <td class="text-center">조회수</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="qna : ${qnas.getContent()}">
            <td class="text-center" th:text="${qna.id}"></td>
            <td class="text-center">
              <a th:href="'/community/qna/'+${qna.id}" th:text="${qna.title}"></a>
            </td>
            <td class="text-center" th:text="${qna.createBy}"></td>
            <td class="text-center" th:text="${qna.regTime != null ? #temporals.format(qna.regTime, 'yyyy-MM-dd') : ''}"></td>
            <td class="text-center" th:text="${qna.views}">조회수</td>
          </tr>
          </tbody>
        </table>
        <div style="padding: 20px; background-color: #f7f7f7; margin-bottom: 50px; display: flex; justify-content: flex-end; gap: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <a th:if="${#request.isUserInRole('ADMIN')}" href="/qna/new" class="styled-link">게시글 작성</a>
        </div>



        <div class="paging_custom" th:with="start=${(qnas.number/maxPage)*maxPage + 1}, end=(${(qnas.totalPages == 0) ? 1 : (start + (maxPage - 1) < qnas.totalPages ? start + (maxPage - 1) : qnas.totalPages)})">
          <ul class="pagination justify-content-center">

            <!-- Previous 버튼 -->
            <li class="page-item" th:classappend="${qnas.first}?'disabled'">
              <a th:onclick="'javascript:page(' + ${qnas.number - 1} + ')'" aria-label='Previous' class="page-link" href="#">
                <span aria-hidden='true'>&laquo;</span>
              </a>
            </li>

            <!-- 페이지 번호 -->
            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${qnas.number eq page-1}?'active':''">
              <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link" href="#" th:text="${page}"></a>
            </li>

            <!-- Next 버튼 -->
            <li class="page-item" th:classappend="${qnas.last}?'disabled'">
              <a th:onclick="'javascript:page(' + ${qnas.number + 1} + ')'" aria-label='Next' class="page-link" href="#">
                <span aria-hidden='true'>&raquo;</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${qnaSearchDto}" style="display: flex; flex-wrap: wrap; margin-bottom: 30px">
          <div style="display: flex; align-items: center; margin-right: 10px;">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
              <option value="all">전체기간</option>
              <option value="1d">1일</option>
              <option value="1w">1주</option>
              <option value="1m">1개월</option>
              <option value="6m">6개월</option>
            </select>
          </div>
          <div style="display: flex; align-items: center; margin-right: 10px;">
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
              <option value="title">제목</option>
              <option value="createdBy">등록자</option>
            </select>
          </div>
          <div style="display: flex; align-items: center; margin-right: 10px;">
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
          </div>
          <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>


      </form>
    </div>
    <!--사용 스크립트 추가-->
    <script>
      $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
          e.preventDefault();
          page(0);
        });
      });

      function page(page){
        const searchDateType = $("#searchDateType").val();
        const searchBy = $("#searchBy").val();
        const searchQuery = $("#searchQuery").val();

        location.href="/community/qnas/" + page + "?searchDateType=" + searchDateType
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
      }

    </script>
  </div>
</div>

</html>
