<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_company}">
<head>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lzvv37zjh7"></script>
    <link rel="stylesheet" type="text/css" href="/css/company/company_map.css">
</head>
<div layout:fragment="content">
    <div class="container top_menu">
        <h6 style="text-align: right">회사소개 > <strong>오시는길</strong></h6>
    </div>
    <div class="container">
        <div class="point"></div>
        <h1><strong>오시는길</strong></h1>
        <div class="py-5">
            <div id="map"></div>
            <small><a href="https://my.matterport.com/show/?m=P7A9fkJh3Ck" target="_blank"> 고팡(주) 사무실</a>클릭시 사무실 내부를
                확인해보실수 있습니다</small>
        </div>
    </div>
    <div class="container contact">
        <div class="row g-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-4 col-sm-4 text-center">
                <div class="btn-square mx-auto mb-3" style="background-color: #45639d">
                    <i class="fa fa-envelope fa-2x text-white"></i>
                </div>
                <h4 class="mb-2">이메일</h4>
                <p class="mb-0">gopang811@naver.com</p>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="btn-square mx-auto mb-3" style="background-color: #45639d">
                    <i class="fa fa-phone fa-2x text-white"></i>
                </div>
                <h4 class="mb-2">전화번호</h4>
                <p class="mb-0">064)755-0811</p>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="btn-square mx-auto mb-3" style="background-color: #45639d">
                    <i class="fa-solid fa-location-dot fa-2x text-white"></i>
                </div>
                <h4 class="mb-2">위치</h4>
                <p class="mb-0">제주특별자치도 제주시 첨단로 213-65, 405호</p>
            </div>
        </div>
    </div>

    <script>
        var company_hall = new naver.maps.LatLng(33.45237925044694, 126.57261398461824),
            map = new naver.maps.Map('map', {
                center: company_hall,
                zoom: 18,
                zoomControl: true,
                zoomControlOptions: { // 줌 컨트롤 옵션
                    position: naver.maps.Position.TOP_RIGHT // 오른쪽 위로 위치 설정
                },
                mapTypeControl: true
            }),
            marker = new naver.maps.Marker({
                map: map,
                position: company_hall
            });

        var contentString = [
            '<div class="iw_inner">',
            '   <h3>고팡(주)</h3>',
            '   <p>제주특별자치도 제주시 첨단로 213-65,405호<br />',
            '       064-755-8011<br />',
            '       <img src="/img/gopang.png" width="55" height="55" alt="고팡" class="thumb" />',
            '       <a href="http://www.igopang.com" target="_blank">www.igopang.com<br/ ></a>',
            '       <a href="https://my.matterport.com/show/?m=P7A9fkJh3Ck" target="_blank">고팡(주) 사무실</a>',
            '   </p>',
            '</div>'
        ].join('');

        var infowindow = new naver.maps.InfoWindow({
            content: contentString
        });

        naver.maps.Event.addListener(marker, "click", function (e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
        });

        var btns = $(".buttons > input");
        btns.on("click", function (e) {
            e.preventDefault();

            var mapTypeId = this.id;

            if (map.getMapTypeId() !== naver.maps.MapTypeId[mapTypeId]) {
                map.setMapTypeId(naver.maps.MapTypeId[mapTypeId]); // 지도 유형 변경하기

                btns.removeClass("control-on");
                $(this).addClass("control-on");
            }
        });

        infowindow.open(map, marker);

    </script>
</div>

</html>
