<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_company}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/company/company_info.css">
</head>
<div layout:fragment="content">
    <div class="container">
        <h6 style="text-align: right">회사소개 > <strong>회사개요</strong></h6>
    </div>
    <!-- 회사개요 start -->
    <div class="container">
        <h1><strong>회사개요</strong></h1>
        <div class="point"></div>
        <div class="py-5">
            <table class="table">
                <tbody>
                <tr style="border-top: solid 4px black">
                    <th>회사명</th>
                    <td>고팡(주)</td>
                </tr>
                <tr>
                    <th>대표자</th>
                    <td>현홍준</td>
                </tr>
                <tr>
                    <th>설립연도</th>
                    <td>2020년 8월 11일</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>제주특별자치도 제주시 첨단로 213-65, 405호</td>
                </tr>
                <tr>
                    <th>홈페이지</th>
                    <td><a href="https://www.igopang.com/" target="_blank">https://www.igopang.com/</a> </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>gopang811@naver.com</td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td>대표번호 064)755-0811, fax 070)8147-0726</td>
                </tr>
                <tr>
                    <th>사업분야</th>
                    <td>
                        IT BT: 혁신적이고 창의적인 솔루션 개발 <br/>
                        화장품 판매업: 화장품 판매 <br/>
                        예초: 아파트 단지, 묘지, 기관등 예초 서비스
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 회사개요 end -->

</div>


</html>