<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/board/board_info.css">
</head>
<div layout:fragment="content">
    <div class="container top_menu">
        <h6 style="text-align: right">예초·벌초 > <strong>작업안내</strong></h6>
    </div>

    <div class="container" style="min-height: 600px">
        <div class="title-container">
            <h1 class="text-center">작업안내</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-12">

                <div class="section-title">
                    <div class="point"></div>
                    <h1 style="margin-bottom: 20px">예초 비용안내</h1>
                </div>
                <table>
                    <tr>
                        <td class="text-center" style="font-weight: bold;background-color: #f2f2f2">구분</td>
                        <td class="text-center" style="font-weight: bold;background-color: #f2f2f2">비용</td>
                        <td class="text-center" style="font-weight: bold;background-color: #f2f2f2">비고</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="text-center" style="background-color: #f2f2f2">예초</td>
                        <td class="text-center" style="font-weight: bold;">1,000평 / 770,000원</td>
                        <td rowspan="5" class="text-center">폐기물 처리비용<br/> 별도</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="font-weight: bold;">2,000평 / 1,320,000원</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="font-weight: bold;">3,000평 / 1,650,000원</td>
                    </tr>
                    <tr>
                    <td class="text-center" style="font-weight: bold;">4,000평 / 1,980,000원</td>
                </tr>
                    <tr>
                        <td class="text-center" style="font-weight: bold;">5,000평 이상 담당자와 협의 후 견적이 결정됩니다.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="board_info_text">
            <p class="bullet">예초장소 : 아파트, 공장, 도로변, 학교, 종교단체, 공원, 임야, 군부대 등</p>
            <p class="bullet">예초는 작업 환경에 따라 견적 금액의 차이가 크게 날 수 있으며, 예초한 풀을 처리 요청 시 폐기물처리 비용이 추가됩니다.</p>
            <p class="bullet">아파트 예초작업은 조경면적을 알려주시길 바라며, 주차한 차량에 피해가 가지 않도록 주민에게 충분히 고지를 해주셔야 합니다.</p>
            <p class="bullet">세금계산서 발행을 위하여 견적접수 시 사업자등록증을 첨부해 주시거나, gopang811@naver.com로 보내주시길 바랍니다.</p>
        </div>
    </div>


    <div
            class="container"
            style="padding-bottom: 40px;"
            data-aos="fade-up"
            data-aos-duration="1500"
    >
        <div class="section-title">
            <div class="point"></div>
            <h1 style="margin-bottom: 20px">업무 프로세스</h1>

        </div>
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="/img/proc_1.png" alt="" />
            </div>
        </div>
    </div>
    <!-- Tab-1 content-2 End -->

    <div class="container" style="border-top: 1px solid black; border-bottom: 1px solid black">
        <div style="font-size: 20px; margin-top: 30px; margin-bottom: 30px">
        <h4>작업비용의 선입금?</h4>
        <p>안심하세요!<br/>
        벌초박사에 선입금 하시면 파트너가 작업을 진행하게 되고,<br/>
            벌초박사는 고객님의 작업완료 승인을 확인한 이후에 작업을 진행한 파트너에게 수수료 정산을 하게 됩니다.</p>
        </div>
    </div>

    <!-- Tab-1 content-3 Start -->
    <div
            class="container"
            style="padding-bottom: 40px"
            data-aos="fade-up"
            data-aos-duration="1500"
    >
        <div class="section-title">
            <div class="point"></div>
            <h1 style="margin-bottom: 20px">진행상황 확인 문자발송 서비스</h1>

        </div>
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="/img/proc_2.png" alt="" />
            </div>
        </div>
    </div>
    <!-- Tab-1 content-3 End -->
    <div class="container">
        <div class="board_info_text">
            <h4>예초 작업 시간이 많이 소요되는 요인</h4>
            <p class="bullet">예초 작업 지역에 동물 또는 야생 생물이 많아 작업 중 피해를 최소화하기 위한 예방 조치가 필요한 경우.</p>
            <p class="bullet">갑작스러운 기후 변화로 인해 예초 작업이 예측하기 어려워져 작업 일정이 지연되는 경우.</p>
            <p class="bullet">도로에 인접하여 지나가는 행인이나 차량에 피해를 끼칠 수 있는 환경.</p>
        </div>
    </div>

</div>


</html>