<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/board/board_detail.css">
</head>

<div layout:fragment="content">
  <div class="container" id="container_community">
    <div class="title-container">
      <h1 class="text-center">작업안내</h1>
    </div>
    <input type="hidden" id="Id" th:value="${board.id}">

    <div>
    <table class="table ">
      <thead class="table-dark">
      <tr>
        <td colspan="3">
          <h4 th:text="${board.title}"></h4>
        </td>
      </tr>
      <tr class="write_info">
        <td th:text="'작성자 : ' + ${board.createBy}"></td>
        <td th:text="'Date : ' + ${#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
        <td th:text="'조회수 : ' + ${boardViews.views}">조회수 : 조회수 값</td> <!-- 조회수 값을 적절한 값으로 대체 -->
      </tr>
      </thead>
  <tr>
    <td colspan="3">
      <div class="text-center">
        <img th:src="${board.beforeImgUrl}" class="before_image " style="padding: 10px;">
        <img th:src="${board.afterImgUrl}" class="after_image" style="padding: 10px;">
      </div>
        <p th:utext="${#strings.replace(board.content, '\n', '<br>')}"></p>
    </td>

      </tr>
    </table>
    </div>

    <div style="padding: 20px; background-color: #f7f7f7; margin-bottom: 50px; display: flex; justify-content: flex-end; gap: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

      <a href="#" th:if="${#request.isUserInRole('ADMIN')}" th:href="@{'/admin/board/' + ${boardId}}" class="styled-link">
        수정
      </a>
      <a href="#" th:href="@{/board/main}" class="styled-link">
        List
      </a>
    </div>

  </div>
</div>
</html>


