<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/board/board_info.css">
</head>
<div layout:fragment="content">
    <div class="container">
        <h6 style="text-align: right">예초·벌초 > <strong>견적문의</strong></h6>
    </div>

    <div class="container" style="min-height: 600px">
        <div class="title-container">
            <h1 class="text-center">작업안내</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-12">

                <div class="section-title">

                    <h1>예초 비용안내</h1>
                    <div class="point"></div>
                </div>
                <table>
                    <tr>
                        <td class="text-center">구분</td>
                        <td class="text-center">비용</td>
                        <td class="text-center">비고</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="text-center">예초</td>
                        <td class="text-center">1,000평 / 770,000원</td>
                        <td rowspan="5"></td>
                    </tr>
                    <tr>
                        <td class="text-center">2,000평 / 1,320,000원</td>
                    </tr>
                    <tr>
                        <td class="text-center">3,000평 / 1,650,000원</td>
                    </tr>
                    <tr>
                    <td class="text-center">4,000평 / 1,980,000원</td>
                </tr>
                    <tr>
                        <td class="text-center">5,000평 이상 담당자와 협의 후 견적이 결정됩니다.</td>
                    </tr>
                </table>
            </div>
        </div>
        <ul style="font-size: 18px">
            <li>예초장소 : 아파트, 공장, 도로변, 학교, 종교단체, 공원, 임야, 군부대 등</li>
            <li>예초(예취) : 풀베기를 뜻 합니다.</li>
            <li>제초 : 예초닷컴에서는 선택적으로 잡초만 죽이는 제초제 약품 살포를 뜻 합니다.</li>
            <li>예초는 작업 환경에 따라 견적 금액의 차이가 크게 날 수 있으며, 예초한 풀을 처리 요청 시 폐기물처리 비용이 추가됩니다.</li>
            <li>아파트 예초작업은 조경면적을 알려주시길 바라며, 주차한 차량에 피해가 가지 않도록 주민에게 충분히 고지를 해주셔야 합니다.</li>
            <li>세금계산서 발행을 위하여 견적접수 시 사업자등록증을 첨부해 주시거나, yechoman@naver.com로 보내주시길 바랍니다.</li>
        </ul>
    </div>
    <div class="container">
    <ul style="font-size: 20px">
        <h4>예초 작업 시간이 많이 소요되는 요인</h4>
        <li>예초기 날에 감기는 줄 형태나 비닐봉투 쓰레기가 많은 환경.</li>
        <li>많은 풀때문에 돌이 보이지 않아 예초기 날 교체가 잦을 경우.</li>
        <li>도로에 인접하여 지나가는 행인이나 차량에 피해를 끼칠 수 있는 환경.</li>
    </ul>
    </div>

    <div
            class="container"
            style="padding-bottom: 40px; padding-top: 40px"
            data-aos="fade-up"
            data-aos-duration="1500"
    >
        <div class="section-title">

            <h1>업무 프로세스</h1>
            <div class="point"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="/img/proc_1.png" alt="" />
            </div>
        </div>
    </div>
    <!-- Tab-1 content-2 End -->

    <div class="container">
        <h4>작업비용의 선입금?</h4>
        <p>안심하세요!<br/>
        벌초박사에 선입금 하시면 파트너가 작업을 진행하게 되고,<br/>
        벌초박사는 고객님의 작업완료 승인을 확인한 이후에 작업을 진행한 파트너에게 수수료 정산을 하게 됩니다.</p>
    </div>

    <!-- Tab-1 content-3 Start -->
    <div
            class="container"
            style="padding-bottom: 80px"
            data-aos="fade-up"
            data-aos-duration="1500"
    >
        <div class="section-title">

            <h1>진행상황 확인 문자발송 서비스</h1>
            <div class="point"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid" src="/img/proc_2.png" alt="" />
            </div>
        </div>
    </div>
    <!-- Tab-1 content-3 End -->


</div>


</html>