<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">

<head>
  <link rel="stylesheet" type="text/css" href="/css/board/board_main.css">
</head>
<div layout:fragment="content">
  <div class="container top_menu">
    <h6 style="text-align: right">예초·벌초 > <strong>시공사례</strong></h6>
  </div>
  <div class="container" style="min-height: 600px">
    <div class="title-container">
      <h1 class="text-center">시공사례</h1>
    </div>
    <div style="display: flex; justify-content: end; align-items: center;">

      <form class="form-inline my-2 my-lg-0" th:action="@{/board/main}" method="get" style="width: 300px;">
        <div class="input-group input-group-sm"  style="margin-bottom: 30px">
          <input name="searchQuery" class="form-control" type="search" placeholder="검색하세요" aria-label="Search" style="border-top: none; border-left: none; border-right: none;">
          <div class="input-group-append">
            <button class="btn" type="submit">
              <i class="fa fa-search" aria-hidden="true" style="font-size: 24px;"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <th:block th:each="board : ${board.getContent()}" th:remove="tag">
        <div class="col-md-6">
          <div class="card" style="margin-bottom: 35px; padding: 15px; border-radius: 0;">
            <a th:href="'/board/' + ${board.id}" class="text-dark">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-container" style="position: relative;">
                    <!-- imgUrlBefore 이미지를 왼쪽에 표시 -->
                    <img th:src="${board.imgUrlBefore}" class="card-img-top" th:alt="${board.title}" height="250">
                    <div class="img-text img-text-before">BEFORE</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-container" style="position: relative;">
                    <!-- imgUrlAfter 이미지를 오른쪽에 표시 -->
                    <img th:src="${board.imgUrlAfter}" class="card-img-top" th:alt="${board.title}" height="250">
                    <div class="img-text img-text-after">AFTER</div>
                  </div>
                </div>
              </div>
              <div class="card-body" style="text-align: center;text-decoration-line: none;">
                <h4 th:text="${board.title}"></h4>
              </div>
            </a>
          </div>
        </div>
      </th:block>
    </div>
    <div style="padding: 20px; background-color: #f7f7f7; margin-bottom: 50px; display: flex; justify-content: flex-end; gap: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{/board/new}" class="styled-link">게시글 작성</a>
    </div>


    <div class="paging_custom" th:with="start=${(board.number/maxPage)*maxPage + 1}, end=(${(board.totalPages == 0) ? 1 : (start + (maxPage - 1) < board.totalPages ? start + (maxPage - 1) : board.totalPages)})">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${board.first}?'disabled'">
          <a th:onclick="'javascript:page(' + ${board.number - 1} + ')'" aria-label='Previous' class="page-link" href="#">
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${board.number eq page-1}?'active':''">
          <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link" href="#" th:text="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${board.last}?'disabled'">
          <a th:onclick="'javascript:page(' + ${board.number + 1} + ')'" aria-label='Next' class="page-link" href="#">
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li>
      </ul>
    </div>

    <!--사용 스크립트 추가-->
    <script>
      $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
          e.preventDefault();
          page(0);
        });
      });

      function page(page){

        location.href="/board/main/" + page ;
      }

    </script>
  </div>

</div>

</html>