files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/healthdconf.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe

      # Override healthd config to use local timezone
      echo "[Main]" > /etc/healthd/config.d/01_healthd.conf
      echo "file_location= /var/log/nginx/healthd/" >> /etc/healthd/config.d/01_healthd.conf
      echo "time_zone= Asia/Seoul" >> /etc/healthd/config.d/01_healthd.conf