td{
    margin-left: 100px;
    padding: 20px!important;
}
th{
    text-align: center;
    padding: 20px!important;
}
tr{
    font-size: 20px;
    opacity: 0.7;
}
.point {
    width: 60px;
    height: 3px;
    background-color: #45639d;
    display: block;
    margin-left: 2px;
}

@media screen and (max-width: 767px) {
    tr{
        font-size: 16px;
        opacity: 0.7;
    }
    th{
        padding: 10px!important;
    }
    td{
        padding: 10px!important;
    }
    .point {
        width: 40px;
    }
    .py-5{
        padding-top: 1rem !important;
    }
}