.point {
    width: 60px;
    height: 3px;
    background-color: #45639d;
    display: block;
    margin-left: 2px;
}
#map{
    width:100%;
    height:500px;
}
.iw_inner {
    padding: 15px;
    font-size: 12px;
}

.iw_inner h3 {
    border-bottom: 1px solid black;
    padding: 5px;
}

.iw_inner img {
    float: right;
    margin-bottom: 10px;
}

/* Contact */
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid #f5f5f5;
    border-radius: 50px;
}

.btn-square {
    width: 50px;
    height: 50px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    #map{
        height: 400px;
    }
}