.greeting_custom_h4{
    color: #45639d;
    padding-bottom: 20px;
}
.greeting_custom_p1{
    font-size: 20px;
    opacity: 0.7;
}
.greeting_custom_p2{
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
}
.greeting_custom_img{
    height: 420px;
    width: 640px;
}
.point {
    width: 60px;
    height: 3px;
    background-color: #45639d;
    display: block;
    margin-left: 2px;
}

@media screen and (max-width: 767px) {
    .greeting_custom_p1{
        font-size: 16px;
    }
    .greeting_custom_p2{
        font-size: 16px;
    }
    .greeting_custom_img{
        height: 280px;
        width: 400px;
    }
    .point {
        width: 40px;
    }
    .py-5{
        padding-top: 1rem !important;
    }
}