<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/board/board_info.css">
</head>
<div layout:fragment="content">
    <div class="container">
        <h6 style="text-align: right">예초·벌초 > <strong>신청페이지</strong></h6>
    </div>
    <div th:replace="~{fragments/offer::offer-banner}"></div>

    <div class="container" style="min-height: 600px">
        <div th:replace="~{fragments/offer::offer-info}"></div>
        <div th:replace="~{fragments/offer::offer-menu (offerMenu='members')}"></div>

        <div th:replace="~{fragments/offer::member-list(members=${offer.managers},isManager=${true})}"></div>
        <div th:replace="~{fragments/offer::member-list(members=${offer.members},isManager=${false})}"></div>


    <script th:replace="~{fragments/offer::tooltip-script}"></script>
</div>

</html>