<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_index}">
<head>


</head>
<div layout:fragment="content">

    <!-- main-0 -->
    <div class="main main-0">
        <div class="main-container">
            <div class="inner-container con">
                <section class="visual main-1">
                    <div class="item item-1">
                        <div class="img-box slider-bg web-bg">
                            <img src="/img/main1-img.png" alt="">
                        </div>
<!--                        <div class="img-box slider-bg mobile-bg">-->
<!--                            <img src="/img/main1-img-mobile.png" alt="">-->
<!--                        </div>-->
                        <div class="text-box">
                            <strong class="text text0">Discover the Beauty <br>of Nature</strong>
                            <p class="text text1">자연의 아름다움을 발견하다.<br>더욱 푸르른 내일을 맞이하세요.<br/></p>
                        </div>
                    </div>
                    <div class="item item-2">
                        <div class="img-box slider-bg web-bg">
                            <img src="/img/main2-img.png" alt="">
                        </div>
<!--                        <div class="img-box slider-bg mobile-bg">-->
<!--                            <img src="/img/main2-img-mobile.png" alt="">-->
<!--                        </div>-->
                        <div class="text-box">
                            <strong class="text text1">Professional<br/> Process </strong>
                            <p class="text text2">작업 후 드론으로 촬영까지 완벽한 예초 관리를 경험하세요.<br>"예초의 아름다움을 유지하는 데 전문가들과 함께하세요."</p>
                        </div>
                    </div>
                    <div class="item item-3">
                        <div class="img-box slider-bg web-bg">
                            <img src="/img/main3-img.png" alt="">
                        </div>
<!--                        <div class="img-box slider-bg mobile-bg">-->
<!--                            <img src="/img/main3-img-mobile.png" alt="">-->
<!--                        </div>-->
                        <div class="text-box">
                            <strong class="text text1">Custom Solutions</strong>
                            <p class="text text2">항상 친절하고 전문적인 상담으로 고객과 소통합니다. <br>"당신의 요구에 최적화된 솔루션을 찾기 위해 함께 노력합니다."</p>
                        </div>
                    </div>
                </section>
                <div class="scroll-down-wrap">
                    <div class="scroll-down"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- box-1 -->
    <div class="box-1 con">
        <div class="row active-on-visible" data-active-on-visible-delay="200">
            <div class="cell">
                <div class="img-box">
                    <img class="pic" src="/img/box-1.jpg" alt="">
                    <img class="only-767-pic" src="/img/box-1-mobile.jpg" alt="">
                </div>
            </div>
            <div class="cell">
                <div class="content-text-box" data-aos="zoom-in" data-aos-duration="1000">
                    <h2>우리는 언제나<br><strong>고객과 비지니스 파트너</strong>를 향합니다.</h2>
                    <p>벌초박사의 예초 관리 서비스는 고객의 니즈를 고려하며, 정확하고 전문적인 서비스로 편안하고 아름다운 환경을 만들어냅니다.</p>
                    <div class="content-btn-wrap">
                        <a href="#" th:href="@{/company/greeting}" class="info">회사 안내</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main-2 -->
    <div class="main main-2 active-on-visible" data-active-on-visible-delay="200">
        <div class="main-container">
            <div class="inner-container con main-2-wrap">
                <nav class="menu-box main-2-box">
                    <ul class="row">
                        <li class="cell">
                            <div class="box">
                                <div class="img-box">
                                    <img src="https://kimjinyong0908.github.io/web_pf_img/Panasonic/main-2-1.jpg" alt="">

                                </div>
                                <h2 class="main-2-text">PRODUCT</h2>
                            </div>

                        </li>
                        <li class="cell" data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/board/main}" class="box">
                                <div class="img-box"><img src="/img/main-middle1-img.png" alt=""></div>
<!--                                <p class="main-2-text">SEVICE<br><strong>시공사례</strong></p>-->
                            </a>
                        </li>
                        <li class="cell" data-aos="fade-up" data-aos-delay="200">
                            <a class="box" href="https://smartstore.naver.com/gopangjeju" target="_blank">
                                <div class="img-box"><img src="/img/main-middle2-img.png" alt=""></div>
<!--                                <p class="main-2-text">NAVER<br><strong>스토어</strong></p>-->
                            </a>

                        </li>
                        <li class="cell" data-aos="fade-up"  data-aos-delay="300">
                            <a th:href="@{/community/ntcs}" class="box">
                                <div class="img-box"><img src="/img/main-middle3-img.png" alt=""></div>
<!--                                <p class="main-2-text">CONTACT<br><strong>공지사항</strong></p>-->
                            </a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- middle-img -->
    <div class="middle-img"></div>

    <!-- main-3 -->
    <div class="main main-3 active-on-visible" data-active-on-visible-delay="200">
        <div class="main-container">
            <div class="inner-container con">
                <div class="main-3-wrap">
                    <div class="main-3-bg img-box">
                        <div class="img-box web-bg">
                            <img src="/img/bottom-img.jpg" alt="">
                        </div>
                        <div class="img-box mobile-bg">
                            <img src="/img/bottom-img-mobile.jpg" alt="">
                        </div>
                        <div class="title-box">

                            <h2>고객상담 및 견적</h2>
                            <p>최상의 만족도로 보답하겠습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- top-link -->
    <a href="#" class="top-link"><i class="fa fa-angle-up"></i></a>
</div>

</html>