/* 링크 스타일링 */
a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}
.table td {
    padding: 12px 12px;
}
/* 제목 컨테이너 스타일링 */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.write_title{
    text-align: center;
}
.write_title td h4{
    margin: 0;
}
/* 제목 양 옆에 구분선 스타일링 */
.title-container::before,
.title-container::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 5%; /* 왼쪽 및 오른쪽 여백을 5%로 설정 */
}
.important_custom td{
    background-color: #f2f2f2;
    font-weight: bold;
    /* 원하는 스타일 추가 */
}
.ntc_content{
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto!important;
}
tbody{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.write_info td {
    text-align: center;
    padding: 16px;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    /* 제목 컨테이너 스타일링 */
    .title-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-container{
        padding: 8px;
    }
    .img-text{
        margin: 14px;
    }
    .table td {
        padding: 10px 3px;
    }
    tbody{
        font-size: 12px;
    }
    thead{
        font-size: 14px;
    }

    .write_info td {
        text-align: center;
        padding: 5px;
        font-size: 14px;
    }
    .ntc_content{
        min-height: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 482px) {
    .search_btn{
        width: 100px;
        padding: 8px;
        font-size: 12px;
    }
}