.img-container {
    position: relative;
}
.img-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    bottom: 0;
    right: 0;
    margin: 10px;
}
/* 제목 컨테이너 스타일링 */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/* 제목 양 옆에 구분선 스타일링 */
.title-container::before,
.title-container::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 5%; /* 왼쪽 및 오른쪽 여백을 5%로 설정 */
}